<!DOCTYPE html>

<html>

  <head>
    <title>{% block title %}RecipeBook{% endblock title %}</title>
    <link href='http://fonts.googleapis.com/css?family=Marcellus|Noto+Sans:400,700'
        rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='screen.css') }}"
        rel="stylesheet" type="text/css" media="screen, tv, projection" title="Default" />
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block scripts %}
    {% endblock scripts %}
  </head>

  <body>

  <header class="page_head">
  <div class="container">

  <h1><a href="{{ url_for('recipes.index') }}">Recipe Book</a></h1>
  <p>{% if g.user %}
    <a href="{{ url_for('recipes.logout') }}">Logout {{ g.user.username }}</a>
  {% else %}
    <a href="{{ url_for('recipes.register') }}">Register</a> &middot;
    <a href="{{ url_for('recipes.login') }}">Login</a>
  {% endif %}</p>

  </div>
  </header>

  <div class="container">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock content %}

  </div>

  <footer>
  </footer>

  </body>

</html>
