<!DOCTYPE html>

<html>

  <head>
    <title>{% block title %}RecipeBook{% endblock title %}</title>
    <link href='http://fonts.googleapis.com/css?family=Marcellus|Noto+Sans:400,700'
        rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='screen.css') }}"
        rel="stylesheet" type="text/css" media="screen, tv, projection" title="Default" />
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    {% block scripts %}
    {% endblock scripts %}
  </head>

  <body>

  <header class="page_head">
  <div class="container">

  <h1><a href="{{ url_for('recipes.index') }}">Recipe Book</a></h1>

  {% if not redirecturl %}
  {% set redirecturl = request.path %}
  {% endif %}
  {% if disable_redirecturl %}
  {% set redirecturlarg = "" %}
  {% else %}
  {% set redirecturlarg = "?redirecturl=" + redirecturl %}
  {% endif %}
  <p>{% if g.user %}
    <a href="{{ url_for('recipes.logout') }}{{ redirecturlarg }}">Logout {{ g.user.username }}</a>
  {% else %}
    <a href="{{ url_for('recipes.register') }}{{ redirecturlarg }}">Register</a> &middot;
    <a href="{{ url_for('recipes.login') }}{{ redirecturlarg }}">Login</a>
  {% endif %}</p>

  </div>
  </header>

  <div class="container">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul id="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        <script type='text/javascript'>
          $( "#flashes" ).delay(2500).fadeOut(1000);
        </script>
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock content %}

  </div>

  <footer>
  </footer>

  </body>

</html>
