{% extends 'base.html' %}

{% block content %}
<h1>{{ recipe.title }}</h1>
<p>Created by <a href="{{ url_for('.user_recipes', username=user.username) }}">{{ user.display_name() }}</a>.</p>

{% if g.owner or g.admin %}
<p><a href="{{ url_for('.edit_recipe', username=recipe.user.username, recipe_slug=recipe.titleslug) }}">Edit this recipe.</a></p>
{% endif %}

{% if recipe.photo %}
<p><img src="{{ recipe.show_photo(250,180) }}" width="250" height="180" /></p>
{% endif %}

{% if recipe.description %}<p> {{recipe.description }}</p>{% endif %}

<h2>Ingredients</h2>

{% set ingredient_groups,remaining_ingredients = recipe.group_ingredients() %}

{% for ingredient_group in ingredient_groups %}
<h3>{{ ingredient_group.title }}</h3>
<ul>
{% for ingredient in ingredient_group.ingredients %}
<li>{{ ingredient.amount }} {{ ingredient.measure }} {{ ingredient.name }}</li>
{% endfor %}
</ul>
{% endfor %}

{% if remaining_ingredients %}
<ul>
{% for ingredient in remaining_ingredients %}
<li>{{ ingredient.amount }} {{ ingredient.measure }} {{ ingredient.name }}</li>
{% endfor %}
</ul>
{% endif %}

<h2>Instructions</h2>
{{ recipe.html_instructions()|safe }}

{% endblock content %}
