{% extends 'base.html' %}

{% block title %}
RecipeBook - {{ recipe.title }}
{% endblock title %}

{% block content %}
<article class="recipe">

<header>
<h1>{{ recipe.title }}</h1>
</header>

{% if g.owner or g.admin %}
<p><a href="{{ url_for('.edit_recipe', username=recipe.user.username, recipe_slug=recipe.title_slug) }}">Edit this recipe.</a></p>
{% endif %}

{% if recipe.photo %}
<p><img src="{{ recipe.show_photo(250,180) }}" width="250" height="180" /></p>
{% endif %}

{% if recipe.description %}<p>{{recipe.description }}</p>{% endif %}

{% if recipe.tags %}<p>Tagged: {{ recipe.tags | join(', ') }}</p>{% endif %}

<h2>Ingredients</h2>

{% for ingredient_group in recipe.ingredient_groups %}
<h3>{{ ingredient_group.title }}</h3>
<ul>
{% for ingredient in ingredient_group.ingredients %}
<li>{{ ingredient|safe }}</li>
{% endfor %}
</ul>
{% endfor %}

{% if recipe.general_ingredients %}
<ul>
{% for ingredient in recipe.general_ingredients %}
<li>{{ ingredient|safe }}</li>
{% endfor %}
</ul>
{% endif %}

<h2>Instructions</h2>
{{ recipe.html_instructions()|safe }}

<footer>
<p>Created by <a href="{{ url_for('.user_recipes', username=recipe.user.username) }}">{{ recipe.user.display_name() }}</a>.</p>
</footer>

</article>
{% endblock content %}
